<launch>
    <!-- Startup Intel Realsense 	-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    </include>

    <!-- Startup AR Tag detector       --> 
    <include file="$(find ar_track_alvar)/launch/locobot_ar.launch">
    </include>

    <!-- Startup RViz with Locobot 
     <include file="$(find locobot_description_v3)/launch/display.launch">
    </include> 
    -->
    <!--
  <node pkg="traj_follower" type="trial.py" name="trial">
  </node>
  -->
    <!-- frame for visualization -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster" args="0.04905 0. 0.53201 0 0.8290314 0 base_link camera_link" /> 
</launch>
